/* =============================================================== *\
   Editor
\* =============================================================== */
.wp-block-custom-breadcrumb {
	&.template-editor {
		background-color: #f0f0f0;
		padding: 10px;
		font-size: 100%;
	}

	i {
		font-style: normal !important;
	}

	> div {
		width: var(--wp--style--global--content-size);
		max-width: 100%;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
